@import "../../utils/vars/vars.scss";
@import "../../utils/mixins/mixins.scss";

.dayCell {
  width: 100%;
  height: 100%;
  padding: 4px;

  overflow-x: hidden;

  background-color: $color--greyBold;
  border: 1px solid $color--grey;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $color--greyBold;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @include onMobile {
    font-size: 12px;
  }

  &--notActual {
    filter: invert(75%);
  }

  &--current {
    background-color: rgb(20, 94, 20);

    &--notActual {
      background-color: rgb(83, 46, 91);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 5px;

    color: $color--grey;
    font-weight: bold;
  }

  &__main {
    color: $color--grey;
  }

  &__eventTitle {
    max-width: 100%;
    padding: 4px;
    margin-bottom: 1px;

    background-color: $color--green;
    border-radius: 10px;
    border: 1px solid $color--grey;

    cursor: pointer;

    transition: 300ms;

    &:hover {
      box-shadow: 0px 0px 5px rgb(255, 255, 255);
    }

    &--isNew {
      animation: 0.5s ease-out 0s eventBirth;
    }

    &--isDeleting {
      animation: 0.5s ease-out 0s eventBirth;
      animation-direction: reverse;
    }

    &--notActual {
      filter: invert(75%);
      background-color: $color--greyBold;

      transition: 300ms;

      &:hover {
        box-shadow: 0px 0px 5px rgb(40, 38, 38);
      }

      &--isNew {
        animation: 0.5s ease-out 0s eventBirthGrey;
      }

      &--isDeleting {
        animation: 0.5s ease-out 0s eventBirthGrey;
        animation-direction: reverse;
      }
    }
  }
}

@keyframes eventBirth {
  from {
    color: $color--greyBold;
    background-color: $color--greyBold;
    border: 1px solid $color--greyBold;
  }
  to {
    background-color: $color--green;
    border: 1px solid $color--grey;
  }
}

@keyframes eventBirthGrey {
  from {
    color: $color--grey;
    background-color: $color--grey;
    border: 1px solid $color--grey;
  }
  to {
    background-color: $color--greyBold;
    border: 1px solid $color--grey;
  }
}
