@import './utils/vars/vars.scss';

.app {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 1000px;
  min-height: 100vh;
  padding: 10px;

  color: #eaeaea;
  background-color: $color--black;
  font-family: Montserrat, sans-serif;

  &__header {
    display: flex;
    justify-content: space-between;

    width: calc(7 * 110px + 2px);
    margin-bottom: 10px;
  }
}

.resource {
  position: absolute;
  bottom: 0px;
  right: 0px;

  color: grey;
  text-decoration: none;
}

