@import "./utils/vars/vars.scss";
@import "./utils/mixins/mixins.scss";

.app {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 10px 10px 15px;

  color: $color--grey;
  background-color: $color--black;
  font-family: Montserrat, sans-serif;

  &__header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 10px;
  }
}

.resource {
  position: absolute;
  bottom: 0px;
  right: 3px;

  font-size: 11px;
  color: grey;
  text-decoration: none;

  @include onMobile {
    font-size: 8px;
  }
}
